<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1> Add a New User</h1>
    <a href="/users"> HOME </a>
    <form action="/users/new/create", method = "POST">
        <h2>First Name:</h2>
        <input type="text" name = 'first_name'>
        <h2>Last Name:</h2>
        <input type="text" name = 'last_name'>
        <h2>Email:</h2>
        <input type="email" name = 'email'>
        <button name = 'submit' onclick="createUser(first_name, last_name, email)"> Create </button>
    </form>
    
</body>
</html>