<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <h1>HELLO THERE</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user['id']}}</td>
            <td>{{user['first_name']}} {{user['last_name']}} </td>
            <td>{{user['email']}}</td>
            <td>{{user['created_at']}}</td>
            <td><a href="user/{{ user['id'] }}">show</a> |
                <a href="users/{{ user['id']}}/edit"> edit |</a>
                <a href="users/{{user['id']}}/delete"> delete</a>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    <a href="users/new">Add a New User</a>
</body>
</html>